@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.footer-end {
    background-color: rgb(28, 28, 28);
    color: white;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    right: 0;
    margin-right: 0;
    /* for overflow */
    box-sizing: border-box;
    overflow-x: hidden;
    margin-top: 100px;
}
.footer-seasons-logo {
    filter: brightness(0) saturate(100%) invert(70%) sepia(100%) saturate(500%) hue-rotate(-10deg);
    margin-left: -10px;
    width: 100px;
}
.footer-main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.season-support {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    column-gap: 180px;
    margin-left: 0px;
    margin-right: 100px;
    vertical-align: middle;
}
.customer-service {
    display: flex;
    flex-direction: column;
}
.customer-service span {
    color: #ffd033; 
    font-weight: 600;
    font-size: 16px;
    margin-bottom:14px;
}
.customer-service-details {
    display: flex;
    flex-direction: column;
}
.customer-service-details a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-size: 12px;
    margin-bottom: 10px;
}
.customer-service input {
    background-color: #000000;
    border: none;
    border-bottom: 2px solid #ff6f00;
    padding: 0 0 0 10px;
    height: 34px;
    width: 57%;
    color: rgb(255, 255, 255);
    font-weight: 400;
    transition: background-color 0.3s;
    font-size: 14px;
}
.customer-service input:focus {
    outline: none;
    border-bottom: 2px solid #ffa000; 
}
.customer-service button {
    border: none;
    background-color: #ffd033; 
    padding: 9px 25px;
}
.customer-service button:active {
    background-color: rgb(255, 221, 0);
    transform: scale(0.98); 
} 
.input-email {
    display: flex;
}
.lower-content {
    display: block;
}
.lower-content h1 {
    margin-top: 0;
}
.customer-service-details-social img {
    width: 20px;
    filter: invert(1);
}
.customer-service-details-social a img {
    vertical-align: middle;
    margin-right: 5px;
}
.customer-service-details-social-extra {
    margin-top: 5px;
}
hr {
    border: none; 
    height: 2px;   
    background-color:white; 
    margin: 20px 0; 
}
@media( max-width: 880px ) {
    .footer-main {
        margin-top: 10px;
    }
    .season-support {
        flex-direction: column;
        gap: 15px;
        margin-right: 0;
    }
    .customer-service-details {
        flex-direction: row;
    }
    .input-email input {
        width: 300px;
    }
}