@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.main {
    margin-left: 10px;
    margin-right: 10px;
}
/* 1fr means a column will take up the
       remaining space in the grid */
.products-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

@media (max-width: 2000px) {
    .products-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 1600px) {
    .products-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 1200px) {
    .products-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 900px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
  
@media (max-width: 680px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
.logo {
    display: flex;
}
.product-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding-bottom: 10px;
}
.product-image-container {
    position: relative;
    display: inline-block; 
    width: 100%;
}
.product-image {
    max-width: 100%;
    max-height: 100%;
}
.product-rating-container {
    position: absolute;
    bottom: 12px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-left: 8px;
    font-size: 12px;
    font-weight: 500;
}
.product-rating-stars {
    margin-top: 0;
    width: 60px;
    vertical-align: middle;
}
.product-rating-count {
    font-size: 12px;
    font-weight: 600;
    color: #333;
    font-family: "Montserrat", sans-serif;
}
/* text */
.lower-container {
    padding-left: 8px;
    padding-right: 8px;
}
.name-qty {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name-tag {
    font-weight: 600;
    font-size: 12px;
    color: #2D2D2D;
    font-family: "Montserrat", sans-serif;
}
.product-name {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    color: #363537;
    margin-top: 4px;
}
/* Important */
.limit-text-to-1-lines {
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.price-qty-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.product-price {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
}
.select-qty {
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    border-radius: 5px;
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
}
.select-qty:focus {
    outline: none;
}
.add-to-cart-button {
    background-color: #ffd033; 
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: black; 
    border: none; 
    padding: 7px 10px; 
    font-size: 11px; 
    font-weight: 600; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-to-cart-button:hover {
    background-color: rgb(255, 221, 0); /* Darker yellow on hover */
    transform: scale(1.05); /* Slight pop effect */
}

/* .add-to-cart-button:active {
    background-color: #ffd033; 
    transform: scale(0.98); 
}  */

.added-to-cart-visible {
    background-color: #2ECC71;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.added-to-cart-visible img {
    height: 14px;
    width: 14px;
    object-fit: fill;
    margin-left: 5px;
}
.added-to-cart-visible:hover {
    background-color: #2ECC71;
}